/* Sections backgrounds
* --------------------------------------- */

.section {
  z-index: 0;
	/* border: 1px solid red; */
  height: calc(100% - 80px);
}

.section-content {
  border-radius: 30px;
  margin: 100px;
  /* text-align: center; */
  /* height: 100vh; */
  height: calc(100% - 100px);
  width: calc(100% - 150px);
  /* border: 1px solid red; */
}


.section-content:nth-child(1){
  /* background:red; */
}

  /* ---------------------- */
  /* section  */

#section0 {
	/* background-image: linear-gradient(128deg,#40afff,#3f61ff); */
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

#section0 > .home-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
}

#section0 > .home-container > .description-container, 
#section0 > .home-container > .hero-container {
  width: 50%;
  /* height: calc(100% - 60px); */
}

#section0 > .home-container > .description-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 12%;
  padding-left: 50px;
}

#section0 > .home-container > .description-container * {
  padding: 0 30px;
}

#section0 > .home-container > .hero-container  {
  /* padding-top: 15%; */
  padding-top: 15%;
  padding-left: 8%;
}

#section0 > .home-container > .hero-container > img {
  width: 80%;
  /* border-radius: 50%; */
  /* border-radius: 80% 50% 50% 80% / 80% 50% 80% 50%; */
  /* border-radius: 37% 40% 37% 37% / 28% 28% 48% 48%;  */
  border-radius: 8em 4em;
  border: 3px solid black !important;
  /* background-image: linear-gradient(128deg,#ff9a3f,#ff4b40); */
  background-image: linear-gradient(45deg,#3b383b,#543fff);
  /* box-shadow: 0px 0px 10px 0px #888888; */
  box-shadow: -5px 5px 20px 0px #888888;
  /* box-shadow: 0px 0px 0px 2px #333333; */
}

#section0 > .scroll-container {
  background-color: rgb(250,250,250);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  gap: 10px;
}


.buttons {
    margin: 10%;
    text-align: center;
  }
  
  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
  
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
    border-radius: 50px;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    border-radius: 50px;
    outline: none;
  }
  
  .btn-hover.btn-color {
    border-radius: 50px;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }
  
  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
